* {
  font-family: Verdana, Geneva, sans-serif;
}
body {
  width: 85%;
  margin: 0 auto;
}
/*post.created_at.to_s.split[1]*/
.post {
  padding: .5em;
  background-color: #F6F6EF;
  font-size: .7em;
  color: #898282;
}
.post .rank {
  color: #333;
}

#nav {
  border: 1px red solid;
  display: inline;
}
#nav h1 {
  font-size: .8em;
}
.post .points {
  margin-left: 2em;
}
.post .link {
  font-size: .5em;
}

.post a {
  text-decoration: none;
  color: black;
}

#userlogin {
  float: right;
}

